# Database
*.db

# Logs
*.log

# My directories
Applications/
DataGripProjects/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
go/

# My hidden directories
.hyper_plugins/
.android/
.cache/
.dlv/
.docker/
.fonts/
.gem/
.gnupg/
.gradle/
.kodi/
.local/
.m2/
.npm/
.nuget/
.plastic4/
.sonarlint/
.ssh/
.swiftpm/
.templateengine/
.vim/
.viminfo
.vscode/
.zsh_sessions/
.Trash/

#My files
.CFUserTextEncoding
.DS_Store
.bash_history
.boto
.gitconfig
.gitignore
.h2.server.properties
.hyper.js
.hyper.js~
.lesshst
.p10k.zsh
.pdfbox.cache
.python_history
.zcompdump*
.zcompdump*
.zprofile
.zsh_history
.zshrc
.zshrc.backup
icons.zsh
java_error_in_goland.hprof

# My .config directories
.config/configstore/
.config/fontconfig/
.config/gcloud/
.config/iterm2/
.config/.git/
.config/.gitignore

lazy-lock.json
